*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: linear-gradient(135deg, #153677, #08245f);
}
.todo-list{
    width: 100%;
    max-width: 540px;
    background: #ffffff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 12px;
}
.todo-list h2{
    color: #002765;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    margin-bottom: 25px;
    background: #edeef0;
}
input{
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-weight: 14px;
    background: transparent;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #3198f8;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

ul li{
    list-style-type: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
    background-image: url(../images/unchecked.png);
}
#list-container .checked{
    color: #555;
    text-decoration: line-through;
}
#list-container .checked::before{
    background-image: url(../images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}